[*.{cs,vb}]

# I know them, just don't bother me
dotnet_diagnostic.IDE0028.severity = silent
dotnet_diagnostic.IDE0090.severity = silent
dotnet_diagnostic.IDE0290.severity = silent
dotnet_diagnostic.IDE0063.severity = silent
dotnet_diagnostic.IDE0057.severity = silent
dotnet_diagnostic.IDE0130.severity = silent
dotnet_diagnostic.IDE0017.severity = silent
dotnet_diagnostic.IDE0305.severity = silent
dotnet_diagnostic.IDE0301.severity = silent
dotnet_diagnostic.IDE0306.severity = silent

# we will notice that when it's indeeded (ms logging check log level before logging)
dotnet_diagnostic.CA1873.severity = silent

# just make them throw (switch expression)
dotnet_diagnostic.CS8509.severity = silent
dotnet_diagnostic.CS8524.severity = silent